<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cheeses} and ${cheeses.size()}">No cheeses! :(</p>

<p>

<form method="post" th:if="${cheeses} and ${cheeses.size()}" >

        <select name="cheese">
           <option th:each="cheese : ${cheeses}" th:text="${cheese.key} + ' : ' + ${cheese.value}" th:value="${cheese.key}"></option>
        </select>

        <input type="submit" value="Remove Cheese" />

</form>

</p>

</body>
</html>