<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cheeses} and ${cheeses.size()}">No cheeses! :(</p>

<p>

<h4>Remove a single cheese at a time using drop-down box below.</h4>

<form method="post" th:if="${cheeses} and ${cheeses.size()}" >

        <select name="cheese">
           <option th:each="cheese : ${cheeses}" th:text="${cheese.key} + ' : ' + ${cheese.value}" th:value="${cheese.key}"></option>
        </select>

        <input type="submit" value="Remove Cheese" />

</form>

</p>

<p>

<h4>Remove multiple cheeses at a time using checkboxes below.</h4>

    <form method="post" th:if="${cheeses} and ${cheeses.size()}">

    <th:block th:each="cheese : ${cheeses}">

        <input type="checkbox" name="cheese" th:text="${cheese.key} + ' : ' + ${cheese.value}" th:value="${cheese.key}" />

        <br/>
    </th:block>

    <input type="submit" value="Remove Cheeses" />

    </form>

</p>

</body>
</html>